.formContainer{
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputsContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 95%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}
.select{
    width: 100%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}
/* -------Estilos para los inputs de phone number */
.phoneInputs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.codeInput{
    width: 15%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;
    border-right: none;

    background-color: #F5F5F5;
}
.phoneInput{
    width: 85%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}
/* --------Estilos date input */
.dateContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.dateLabel{
    width: 30%;
    display: flex;
    font-size: 16px;
}
.dateInput{
    width: 70%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}

/* -------Estilos boton Sing Up */
.singUpContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.termsContainer p{
    width: 100%;
    text-align: initial;
    font-size: 11px;
}
.termsContainer a {
    color: #FA9D1B;
}
.singUpBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;

    color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
}
.singUpBtn:focus-visible, .singUpBtn:focus{
    outline: 0;
}


/* --------Estilo para el texto de errores */
.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 12px;
    
}