
/* ----------------Estilo del marco*/

.container {
    margin-top: 100px;
    color:black;
}

.containerData {
    justify-content: center;
    display: flex;
}


.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 15px;
}