
/* ----------------Estilo del marco*/

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    color:black;
}
.containerPadding{
    padding-top: 100px;
    width: 100%;
    height: 80%;
    display: flex;
}
/* -----Estilos del lado izquierdo */
.title{
    font-size: 35px;
    margin-bottom: 70px;
    color: #FA9D1B;
}
.containerData {
    width: 30%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #D9D9D9;
    box-shadow: 11px 0px 14px -10px rgba(0, 0, 0, 0.1);
}
.containerImg{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.userImg{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.editImg{
    position: inherit;
    padding: 65px;
    width: 33px;
    margin: -159px 0 18px -6px;
    
    transition: all 0.3s ease-in-out;
}
.editImg:hover{
    background-color: #00000070;
}
.name{
    width: 80%;
    font-size: 40px;
    text-align: center;
    color: black;
}

/* -----------------Estilos al contenedor de formularios */
.formsContainer{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 100px;
}
/* ----------------Estilo del switch  */
.switchForms{
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    font-size: 7px;
}
.switch {
    margin: 0;
    border-bottom: 2px solid #FA9D1B;
    color:black;
}
.switchFocus{
    color: #FA9D1B;
    font-weight: bold;
    border-top: 3px solid #FA9D1B;
    border-right: 3px solid #FA9D1B;
    border-left: 3px solid #FA9D1B;
}
.switchTitle{
    margin: 0;
    padding: 10px 100px 10px 20px;
    font-style: normal;
    font-weight: lighter;
    text-transform: uppercase;
    
    cursor: pointer;
}
.switchTitle:hover{
    color: #FA9D1B;
}


.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 15px;
}