.formContainer{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.backLogIn{
    width: 150px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 216, 216);

    transition: all 0.3s ease-in-out;

}
.backLogIn a{
    color: black;
    font-size: 12px;

    transition: all 0.3s ease-in-out;

}
.backLogIn:hover{
    border: solid 1px #FA9D1B;
    background-color: #F5F5F5;

}
.backLogIn a:hover{
    color: #FA9D1B;
}

.message{
    color: black;
    /* text-transform: uppercase; */
    font-size: 25px;
    font-weight: normal;
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.title{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 17px;
    color: rgb(33, 33, 33);
}


.inputsContainer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 93%;
    height: 30px;
    padding-left: 20px;
    margin-top: 20px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}
.error{
    border: 1px solid red !important;
}
.input::placeholder{
    color: #B6B6B6;
}
input:focus-visible {
    outline: 0;
}
.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 13px;
    
}



.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.submitBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;

    color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
}
.submitBtn:focus-visible, .submitBtn:focus{
    outline: 0;
}
