.booksContainer {
    position: relative;
    top: 1px;
    margin: 0 auto;
    
     height: fit-content;
     width: 85vw;
     
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px,330px));
    gap: 50px;
     justify-content:center;
     
 
 }
 

 @media (max-width: 770px) {
    

    .booksContainer {
        position: relative;
        top: 80px;
        gap: 20px;
     }
  
    
  }

