.booksContainer {
    position: relative;
    top: 20px;

    margin: 0 auto;
    
     width: 90vw;
     height: fit-content;
     
     
     display: flex;
     flex-wrap: wrap;
     justify-content:center;
     gap: 40px;
     
 
 }
 .title{
    color: #FA9D1B;
    text-align: start;
    width: 100%;
 }

 @media (max-width: 770px) {
    .title{
        font-size:2rem;
    }

    .booksContainer {
        position: relative;
        top: 80px;
     
     }
  
    
  }
