.container {
    display: flex;
    height: 100px;
    width: 200px;
    gap: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
    position: relative; 
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}
.titleContainer{
    display: flex;
}
.buttonClose{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 20px;
}
.cartContainer {
    max-height: 300px; /* Establece una altura máxima para el contenedor */
    overflow-y: auto; /* Habilita el scrollbar vertical */
  }
.textContainer {
    text-align: start;
    color: black;
}

.title {
    font-weight: 500;
    font-size: medium;
    top: 10px;
}

.author {
    font-size: medium;
    color:grey
}

.image {
    height: 100px;
    
}
.imageSize {
    height: 100px;
    max-width: 80px;
    border-radius: 10px;
}

.price {
    font-weight: 700;
    position: absolute; /* Agregamos posicionamiento absoluto */
    bottom: 20px;
}
