.form{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-family: 'Montserrat', sans-serif;

}



/* -----Estilos a la imagen */

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -400px;
}
.image{
    height: 450px;
    width: 350px;
    object-fit: contain;

    overflow: hidden;
}
.DragAndDrop{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
    object-fit: cover;
    
    z-index: 999;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    
}
.edit{
    opacity: 0.5;
    position: absolute;
    width: 40px;
    transition: all 0.4s ease-in-out;
}
/* .DragAndDrop:hover {
    background: rgba(0, 0, 0, 0.379);
} */
.DragAndDrop:hover .edit {
    opacity: 1;
}


/* -----Estilos a los inputs */
.inputsContainer{
    padding: 30px;
    padding-top: 0;

    margin-right: -400px;
    position: absolute;

    /* background-color: #aeaeae1a; */

    width: 400px;
    height: 420px;
    overflow: auto;
}
.plusIcon{
    width: 15px;
}
.addPDF{
    cursor:pointer;
}
.label{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.label h3{
    display: flex;
    align-items: center;
    text-align:start;
    font-size: 15px;
    width: 200px;
    margin: 10px 0 0 0;
    font-weight: normal;
    color: black;
}
.label h3 img{
    margin-right: 10px;
}
.label button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 0 10px;
    cursor: pointer;

}
.input{
    width: 95%;
    height: 30px !important;
    padding-left: 20px;
    margin-top: 10px;

    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    font-weight: 100;
    color: black;
    
    border: 1px solid #B6B6B6;
    background: none;
    /* background-color: white; */

    transition: all 0.3s ease;
}
.otherInput{
    border: none ;
    border-bottom: 1px solid #B6B6B6;
}
.select{
    width: 100% !important;
    height: 33px !important;
}
.textarea{
    height: 150px !important;
    font-family: 'Montserrat', sans-serif;
}
.error{
    border: 1px solid red !important;
}

/* --------Estilo para el texto de errores */
.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 12px;
    
}


/* ------Estilos en los generos */
/* .gendersContainer{
    width: 100%;
}
.gendersContainer img {
    width: 10px;
    cursor: pointer;
}
.genderContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    
    justify-content: space-between;
    text-align: start;

    transition: all 0.2s ease-in-out;
}
.genderContainer:hover{
    color: #FA9D1B;
} */

/* -----Estilos del boton */
.createBtn{
    position: absolute;
    margin-top: 510px;
    margin-right: -400px;


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;
    cursor: pointer;

    color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
}
.createBtn:hover{
    background-color: #feac38;
}
.createBtn:focus-visible, .createBtn:focus, .textarea:focus-visible, .textarea:focus{
    outline: 0;
}


/* -----Estilos al scroll */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
background-color: #FA9D1B; 
border-radius: 5px; 
}

::-webkit-scrollbar-track {
background-color: #dedede; 
}