@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.mainContainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
}

.form{
    max-height: 90vh;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    width: 60vw;
    gap: 10px;
    padding: 50px;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    

}

.container{
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}




/* -----Estilos a la imagen */

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 65vh;
    object-fit: contain;

    overflow: hidden;
}
.DragAndDrop{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 450px;
    object-fit: cover;
    
    z-index: 999;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    
}
.edit{
    opacity: 0.5;
    position: absolute;
    width: 40px;
    transition: all 0.4s ease-in-out;
}
/* .DragAndDrop:hover {
    background: rgba(0, 0, 0, 0.379);
} */
.DragAndDrop:hover .edit {
    opacity: 1;
}


/* -----Estilos a los inputs */
.inputsContainer{
    
   width: 30vw;
    overflow: auto;
}
.plusIcon{
    width: 15px;

}
.label{
    width: 100%;
    display: flex;
    align-items: center;
}
.label h3{
    display: flex;
    font-size: 15px;
    margin: 10px 0 0 0;
    font-weight: normal;
    color: black;
}
.label h3 img{
    margin-right: 10px;
}
.label button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0 0 10px;
    cursor: pointer;

}
.input{
    width: 100%;
    height: 15px !important;
    padding-left: 20px;
    margin-top: 10px;

    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    font-weight: 100;
    color: black;
    
    border: 1px solid #B6B6B6;
    background: none;
    /* background-color: white; */

    transition: all 0.3s ease;
}
.otherInput{
    border: none ;
    border-bottom: 1px solid #B6B6B6;
}
.select{
    width: 100% !important;
    height: 20px !important;
}

.labelPrice{
width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: black;
    
    font-weight: normal;
}

.labelPrice h3{
    display: flex;
    font-size: 15px;
    margin: 10px 0 0 0;
    font-weight: normal;
    color: black;
}

.inputPrice{
    width: 60%;
    height: 15px !important;
    margin-top: 10px;

    font-family: 'Montserrat', sans-serif;

    font-size: 16px;
    font-weight: 100;
    color: black;
    
    border: 1px solid #B6B6B6;
    background: none;
    /* background-color: white; */

    transition: all 0.3s ease;
}
.textarea{
    height: 50px !important;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.error{
    border: 1px solid red !important;
}

/* --------Estilo para el texto de errores */
.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 12px;
    
}


/* ------Estilos en los generos */
/* .gendersContainer{
    width: 100%;
}
.gendersContainer img {
    width: 10px;
    cursor: pointer;
}
.genderContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    
    justify-content: space-between;
    text-align: start;

    transition: all 0.2s ease-in-out;
}
.genderContainer:hover{
    color: #FA9D1B;
} */

/* -----Estilos del boton */
.createBtn{


    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;
    cursor: pointer;
    margin-top: 50px;
    color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
}
.createBtn:hover{
    background-color: #feac38;
}
.createBtn:focus-visible, .createBtn:focus, .textarea:focus-visible, .textarea:focus{
    outline: 0;
}

.btnClose{
    position: relative;
    margin-left: 100%;
    background-color: #feac38;
    border-radius: 20%;
    padding: 1px 5px 3px 6px;
}

.successMessage {
    position: absolute;
    display: block;
    background-color: #f3f5ff;
    color: #feac38;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
    width: 30vw;
    border-radius: 5px;
    padding: 50px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 10000;
  }
  
  .succesLogo{
    position: relative;
    width: 150px;
  }