.container{
    display: flex;
    margin-right: 5vw;
}

.bar{
    width: 30vw;
    height: 45px;
    border: none;
    border-radius:0 0 0 0 ;
    padding: 10px;
    color: rgb(68, 68, 68);
    background-color: rgb(255, 255, 255);

}

.icon{

    padding: 0;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    font-size:xx-large;
    font-weight: bolder;
    
    border-radius:50px 0 0 50px ;
    color: black;
}

.genres{

    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: end;
    font-weight: 400;
    font-weight:500;
    border: none;
    border-radius: 0 50px 50px 0 ;
    color: rgb(109, 109, 109);
}

