.container{
    display: flex;
    margin-left: -250px;
    border: 1px solid rgb(203, 203, 203);
    border-radius:50px ;
    
}

.bar{
    width: 100%;
    padding: 10px;
    color: rgb(68, 68, 68);
    background-color: rgb(255, 255, 255);
    /* border: none; */
}

.icon{

    padding: 0;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    font-size:xx-large;
    font-weight: bolder;
    
    border-radius:50px 0 0 50px ;
    color: black;
}

.genres{

    padding: 0;
    background-color: rgb(255, 255, 255);
    text-align: end;
    width: 40%;
    font-weight: 400;
    font-weight:500;
    border: none;
    border-radius: 0 50px 50px 0 ;
    color: rgb(109, 109, 109);
}

@media(max-width: 550px) {
    .container{
        height: 30px;
        width: 50vw;
    }
    .icon{

        
        font-size:x-large;
        
}

}