.container{
    position: absolute;
    z-index: 10;
    height:90px;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 95vw;
    gap: 30px;
}


.logo{
    color: #FA9D1B;
    margin: 0;
    font-size:3rem;
    padding-left: 5vw;
}
.Nologo{
    color:#fa9d1b00;
    cursor:default;
    margin: 0;
    font-size:3rem;
    padding-left: 5vw;
}

.profile{
    display: flex;
  justify-content: center;
  overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.img{
    height: 100%;
  }

.cartIcon{
    margin-top: 15px;
    cursor: pointer;
}
.cartCounter{
    position: absolute;
    top: 40px;
    margin: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    color: #FA9D1B;
    font-size: 13px;
    text-align: center;
    font-weight: bolder;
}
.containerNologo{
    position: absolute;
    z-index: 10;
    height:90px;
    top: 0;
    left: -70px;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 95vw;
    gap: 30px;
}

.back{
    position: relative;
    font-size: x-large;
    font-weight: 500;
    color: black;
    background: none;
    top: 2vh;
    left: -3vw;
}


@media (max-width: 1020px) {
    .logo{
        font-size:2rem;
    }
  
    
  }

@media (max-width: 400px) {
    .logo{
        font-size:1.5rem;
    }

    .profile{
        height: 30px;
    }
  
    
  }


/* -----esto no va despues, borrar */
.noquieroesteboton{
    background: none;
    width: 50px;
    height: 50px;
}
.noquieroesteboton:focus, .noquieroesteboton:focus-visible{
    outline: 0;
}