select:focus-visible, nav button:focus-visible, button:focus{
    outline: 0;
}

.container{
    position: absolute;
    z-index: 10;
    height:90px;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 95vw;
    gap: 30px;
}


.logo{
    color: #FA9D1B;
    margin: 0;
    height: 50px;
    cursor:pointer;
}

.btnlogo{
    position: relative;
    background: none;
}
.Nologo{
    height: 30px;
}

.profile{
    position: relative;
    display: flex;
  justify-content: center;
  overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cartIcon{
    margin-top: 15px;
    cursor: pointer;
}
.cartCounter{
    position: absolute;
    top: 40px;
    margin: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    color: #FA9D1B;
    font-size: 13px;
    text-align: center;
    font-weight: bolder;
}
.containerNologo{
    position: absolute;
    z-index: 10;
    height:90px;
    top: 0;
    left: -70px;
    
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100vw;
}

.back{
    position: relative;
    font-size: x-large;
    font-weight: 500;
    color: black;
    background: none;
    top: 2vh;
    left: -3vw;
}


@media (max-width: 2000px) {
    .profile{
        right: -50px;
    }
    
  }
@media (max-width: 1500px) {
    .logo{
        font-size:2rem;
    }
    .profile{
        right: -10px;
    }
    
    
  }


@media (max-width: 768px) {

    .containerNologo{
       
        top: -50px;
        
        
    }
    .profile{
        right: 3vw;
    }

    .btnlogo{
        left: 50px;
     }
}

@media (max-width: 550px) {
    .logo{
        font-size:1.5rem;
    }

    .profile{
        height: 30px;
        width: 30px;
    }
  
    .containerNologo{
        background-color: rgba(236, 234, 234, 0.068);
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.096);
        left: -8px;
        width: 107vw;
    }
    
    .btnlogo{
        left: 0;
     }
    
  }

  @media (min-width: 768px) {
    .Nologo{
        display: none;
     }
  }



/* -----esto no va despues, borrar */
.noquieroesteboton{
    background: none;
    width: 50px;
    height: 50px;
}
.noquieroesteboton:focus, .noquieroesteboton:focus-visible{
    outline: 0;
}