.overlayContainer {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por debajo del overlay */
  }
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%; /* Abarca un 20% de la pantalla */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para el overlay */
    z-index: 9999; /* Asegura que el overlay esté en la parte superior */
    transition: transform 0.3s ease;
  }
  
  .overlayContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%; /* Abarca un 20% de la pantalla */
    height: 100%;
    background-color: #fff; /* Color de fondo del contenido del overlay */
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  .contentShift {
    transform: translateX(20%); /* Mover el contenido hacia la derecha */
  }