/* Estilos para el overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Estilos para el contenido del overlay */
.overlay-content {
    position: absolute;
    left: 0;
    /* Alineamos el contenido del overlay en el lado izquierdo */
    top: 50%;
    /* Lo centramos verticalmente en la pantalla */
    transform: translateY(-50%);
    /* Lo movemos hacia arriba un 50% de su altura */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}