.accessContainer{
    width: 100vw;
    min-height: 100vh;
    background: #F5F5F5;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 2s ease;
    color: black;
    
}
/* ----------------Estilo del marco*/
.structure{
    margin: 60px 0;
    width: 480px;
    height: fit-content;
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.25);

    transition: all 0.3s ease;

}

/* ----------------Estilo boton de cerrar x */
.buttonClose{
    width: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 450px;
    display: flex;

    cursor: pointer;
}

/* ----------------Estilo del switch  */
.switchForms{
    margin: 30px 0 10px 0;
    display: flex;
    justify-content: center;
    font-size: 7px;
}
.switch {
    margin: 0;
    border-bottom: 2px solid #FA9D1B;
    color:black;
}
.switchFocus{
    color: #FA9D1B;
    font-weight: bold;
    border-top: 3px solid #FA9D1B;
    border-right: 3px solid #FA9D1B;
    border-left: 3px solid #FA9D1B;
}
.switchTitle{
    margin: 0;
    padding: 10px 100px 10px 20px;
    font-style: normal;
    font-weight: lighter;
    text-transform: uppercase;
    
    cursor: pointer;
}

/* ----------------Estilo a contenedor de formularios  */
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: hidden;

    transition: all 1s ease;
}
.singupContainer{
    margin-top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    overflow: hidden;
    
    transition: all 1s ease;
}
.changePasswordcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    overflow: hidden;

    transition: all 1s ease;
}
