.container {
    display: flex;
    height: 190px;
    width: 360px;
    gap: 10px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
    position: relative; 
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
}

.textContainer {
    text-align: start;
    color: black;
}

.title {
    font-weight: 700;
    font-size: larger;
    
}

.author {
    font-size: medium;
    color:grey
}

.image {
    height: 190px;
    
}
.imageSize {
    height: 190px;
    max-width: 130px;
    border-radius: 10px;
}

.price {
    font-weight: 800;
    position: absolute; /* Agregamos posicionamiento absoluto */
    bottom: 20px;
}

