div:focus-visible, div:focus, button:focus-visible, button:focus, div button:focus-visible, div button:focus{
    outline: 0;
}

.container{
    position: fixed;
    background: none ;
    height: 100vh;
    z-index: 999;
}
.containerClose{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 70px;
    height: 100vh;
    z-index: 999;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.096);
}
.containerOpen{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 265px;
    height: 100vh;
    z-index: 999;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.096);
}

.buttons{
    position: relative;
    top: 100px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 100px;
}




.btnlogo{
    position: relative;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    top: 25px;
    font-weight: 400;
    font-size: x-large;
    color: black;
}
.btnlogoOpen{
    margin: 0 auto;
}

.btnlogo1{
    position: relative;
    display: flex;
    background: none;
    align-items: center;
    width: 95%;
    padding-left: 10px;
    justify-content: space-between;
    top: 25px;
    gap: 12px;
    color: black;
}

.text{
    left: 0;
    font-size: x-large;
    font-weight: 400;
    position: relative;

}

.new1{
    right: 0;
    height: 30px;
}


.btnlogoOpen{
    position: relative;
    background: none;
    top: 25px; 
    width: 230px;
    left: -5px;
}

.btnlogo:focus-visible, 
.btnlogo:focus, 
.buttons:focus-visible,
.new:focus-visible,
.logo:focus-visible,
.openButton:focus {
    outline: 0;
}

.logo{
    position: relative;
    width: 63px
}

.logoCompleto{
    position: relative;
    width: 230px
}

.openButton {
    position: absolute;
    top: 55vh;
    left: 70px;
    border-radius: 0 50px 50px 0 ;
    padding: 20px;
    padding-right: 10px;
    padding-left: 1px;
    text-align: end;
    font-size: x-large;
    background-color:rgb(247, 247, 247);
    color: black;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.096);

}

.closeButton {
    position: absolute;
    top: 55vh;
    left: 260px;
    border-radius: 0 50px 50px 0 ;
    padding: 20px;
    padding-left: 1px;
    text-align: end;
    font-size: x-large;
    background-color:rgb(247, 247, 247);
    color: black;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.096);

}

@media(max-width: 768px) {
    .container{
        display: none;
    }
}