.container-principal {
    display: flex;
   
}

.filter {
    border: 1px solid black;
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    display:flex;
flex-direction:column;
align-items:center;
}

    .filter h1 {
        font-family: 'Bell MT';
        font-size: 79px;
        color:black
    }

.item {
    border:1px solid red;
    width:18rem;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;
    height:40rem;
    
    

}

.item h1{
    font-family:'Bradley Hand ITC';
    font-size:36px;
    color:black;
    font-weight:bolder
}
    .item p {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: black;
        
    }

    .item img {
        width:5rem;
        height: 10rem;
        margin-top:10px
    }

.Books {
    padding: 10px;
    flex: 2;
    border: 1px solid green;
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.btnRangePrice {
    background-color:aquamarine;
    color:black;
border-radius: 5px;
align-items:center;
width:69px
}

.filter select {
    width: 120px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px
}

.filter input {
    width: 120px;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px
}
