.fromContainer{
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------Estilo en los inputs */
.inputsContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 95%;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 20px;

    font-size: 16px;
    font-weight: 100;
    
    border: 1px solid #B6B6B6;

    background-color: #F5F5F5;
}
.error{
    border: 1px solid red !important;
}
.input::placeholder{
    color: #B6B6B6;
}
input:focus-visible {
    outline: 0;
}

.textError{
    width: 100%;
    margin: 0;
    text-align: start;
    color: rgb(241, 57, 57);
    font-size: 15px;
    
}
/* ---------Estilo en del checkbox y el link en el medio del formulario */
.otherStuffContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.rememberMe{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.checkBox{
    margin: 0;
}
.checkBoxLabel{
    margin-left: 5px;
    font-weight: lighter;
    font-size: 13px;
    color:#FA9D1B;
}
.linkForgotPass{
    color: black;
    font-weight: bolder;
    font-size: 13px;
}
.linkForgotPass:hover{
    color: #FA9D1B;
}

/* ---------Estilo botones de log in */
.loginContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}
.loginBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;

    color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
}
.loginBtn:focus-visible, .loginBtn:focus{
    outline: 0;
}
.divider{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    text-transform: uppercase;
    font-weight: lighter;
    font-size: 13px;
}
.dividerSpan{
    padding: 0 5px;
}
.line{
    position: relative;
    top: -10px;
    width: 100%;
    border-bottom: solid 1px #FA9D1B;
}

.googleBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 0;
    border: solid 2px #FA9D1B;
    background-color: #F5F5F5;

    color: #FA9D1B;
    font-weight: normal;
    font-size: 18px;

    transition: all 0.3s ease-in-out;
}
.googleBtn:focus-visible, .googleBtn:focus{
    outline: 0;
}
.googleBtn:hover{
    border-radius: 0;
    border: none;
    background-color: #FA9D1B;

    color: #F5F5F5;
}