.title{
    position: relative;
    color: #FA9D1B;
    padding-left: 5vw;
    text-align: start;
    width: 80vw;
    margin-top: 50px;
}

.container{
    position: relative;
    left: 70px;
    width: 95.5vw;
    padding-bottom: 500px
    
    
}
.sidebar{
    position: relative;
    left: -70px;
}

.slide{
    width: 96vw; 
}

.books{
    width: calc(100vw-75px)
}
.paginationContainer{
    width: 96vw;
}


@media (max-width: 768px) {
    .title {
        top: 10vh;
        text-align: center;
    }
    .container{
        
        left: 0;
       
        
        
    }
  
    
  }

