@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

.container{
    position: relative;
    display: flex;
    width: 96.4vw;
    height: 60vh;
    max-height: 600px;
}

.bookContainer{
    display: flex;
    width: 96.4vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.background{
    width: 100vw;
    
}
.layout{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height:60vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(20px);
}

.leftButton {
    position: absolute;
    font-size:x-large;
    font-weight: 900;
    margin-left: 25px;
    top: 30vh;
    z-index: 1;
    border-radius:100px;
    background-color: #fa9d1b00;
    color: #FA9D1B;
    cursor: pointer;
}
.rightButton {
    position: absolute;
    font-size:x-large;
    font-weight: 900;
    
    top: 30vh;
    right: 5vw;
    border-radius:100px;
   
    background-color: #fa9d1b00;
    color: #FA9D1B;
    cursor: pointer;
}

.bookInfo{
    position: absolute;
    display: flex;
    top:15vh;
    width: 35vw;
}

.image{
    height: 35vh;
    width: 22vh;
}

.textContainer{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    justify-content: end;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size:xx-large;
    text-align: start;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(238, 238, 238);
}

.author{
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 200;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(219, 219, 219);
}




@media (max-width: 1370px) {
    .container {
        height: 60vh;
    }

    .layout{
        
        height:60vh;
        
    }
  
    
  }
@media (max-width: 768px) {
    .container {
        display: none;
    }
  
    
  }

